@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://nagoshiashumari.github.io/Rpg-Awesome/stylesheets/rpg-awesome.min.css");

body {
    background-color: #36454F;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

main {
    background-color: #1e1e1f;
    width: 80%;
    height: 100%;
    max-width: 800px;
}

.okada {
    border: 1px solid white;
    margin: 20px auto;
    background-color: #1e1e1f;
    padding: 20px;
    width: 80%;
    color: white;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

.okada .contador .imagem {
    width: 75px;
    height: 50px;
    margin: 0 auto;
}

.okada .contador::before {
    content: "";
    display: block;
    background: url('https://i.postimg.cc/6pdKL6TN/lotus.png') no-repeat;
    background-size: contain;
    filter: grayscale(100%);
    width: 75px;
    height: 50px;
}

.okada .contador {
    text-align: center;
    width: 75px;
    height: 50px;
    margin: -40px auto 0px auto;
}

.okada .topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.okada .topo .titulos {
    text-align: center;
    flex-grow: 1;
    font-weight: 100;
}

.okada .titulos hr {
    width: 80%;
    border: none;
    height: 1px;
    background-color: #404040;
}

.okada .titulos h2 {
    margin-bottom: 40px;
}

.okada .titulos h2, .okada .titulos h3 {
    font-weight: 100;
}

.okada .corpo {
    padding: 10px 20px;
}

.okada .corpo p {
    text-align: justify;
}

/* Carta */

.card {
    background-color: transparent;
    width: 200px;
    height: 250px;
    perspective: 1000px;
}

.cardInner {
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.50);
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.cardFront {
    border: 1px solid #fff;
    box-sizing: border-box;
    background: darkgrey url('https://i.postimg.cc/tgkHwrhS/redLevi.jpg') no-repeat;
    background-size: 100%;
    background-position: left center;
    background-size: cover;
}

.cardBack {
    box-sizing: border-box;
    border: 1px solid #fff;
    /* background: royalblue url('back.jpg') no-repeat; */
    background: #6B6684;
    background-size: cover;
    transform: rotateY(180deg);
}

.cardFront, .cardBack {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover .cardInner {
    transform: rotateY(180deg);
}

.cardInner table {
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-collapse: collapse;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.cardInner tr, .cardInner td {
    /* background-color: rgba(255,255,255,0.3); */
    /* color: #36454F; */
    color: white
}

.cardInner table th {
    background-color: #55608f;
    color: #fff;
}

.cardInner .rank {
    font-size: 0.7em;
    background-color: #f45c70;
    color: #fff;
    padding: 3px 10px;
    border-radius: 20px;
}

.cardInner table td:first-of-type {
    font-weight: bolder;
    font-size: 0.9em;
}

.cardInner table td:nth-of-type(2n) {
    text-align: left;
    font-size: 0.8em;
}
