@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

.knudarr {
    background: #191919;
    margin: 20px;
    color: #f0f0f0;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

.knudarr .topo {
    width: 100%;
    height: 200px;
    background: url('https://i.imgur.com/vihV0G0.gif') no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    filter: grayscale(100%);
}

.knudarr .barraTopo {
    background: #212121;
    color: #fff;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    padding: 20px 0px;
    font-size: 1.2em;
}

.knudarr .barraTopo .barra {
    width: 30%;
    height: 1px;
    background: rgba(255, 255, 255, 0.125);
    display: block;
    margin: 10px auto;
}

.knudarr .barraTopo .titulo {
    margin: 0 auto;
    font-size: 1.5em;
    display: table;
}

.knudarr .conteudo {
    padding: 20px;
}


.knudarr .barraTopo .subTitulo {
    color: rgba(255, 255, 255, 0.25);
}

.knudarr .barraFim {
    background: #212121;
    width: 100%;
    overflow: hidden;
}

.knudarr .barraFim .caixaRodape {
    display: flex;
}

.knudarr .barraFim .caixaRodape .caixaSpoiler {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.knudarr .barraFim .personagemCard {
    background-color: transparent;
    width: 200px;
    height: 300px;
    margin: 10px;
    perspective: 1000px;
}

.knudarr .barraFim .personagemCard:hover .carta {
    transform: rotateY(180deg);
}

.knudarr .barraFim .personagemCard .carta {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.knudarr .barraFim .personagemCard .carta .frente,
.knudarr .barraFim .personagemCard .carta .tras {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ccc;
}

.knudarr .barraFim .personagemCard .carta .frente {
    filter: grayscale(50%);
    background: url('https://i.imgur.com/Nqd7uzL.jpg') no-repeat;
    background-position: top center;
    width: 100%;
    height: 100%;
    z-index: 2;
    transform: rotateY(0deg);
}

.knudarr .barraFim .personagemCard .carta .frente .charInfo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    padding: 2px 10px;
    border-radius: 20px;
    margin: 5px 0px 0px 5px;
}

.knudarr .barraFim .personagemCard .carta .tras {
    background: #ccc url('https://i.imgur.com/aLKNWIx.png');
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    margin: 0 auto;
}

.knudarr .barraFim .caixaRodape .caixaSpoiler .codebox.spoiler {
    margin: 10px!important;
    background: #191919;
    text-align: center;
    padding: 5px;
}

.knudarr .barraFim .caixaRodape .caixaSpoiler .codebox.spoiler dd {
    background: transparent!important;
}

.knudarr .barraFim .caixaRodape .caixaSpoiler .spoiler_closed {
    display: none;
    border: none!important;
}
